{{ $data := .Site.Data }}

{{ $items := index $data .File.TranslationBaseName }}
{{ $allLabels := slice }}
{{ range $items }}
    {{ $allLabels = $allLabels | append .categories }}
{{ end }}

<p>Filter by tags: </p>
{{ range (sort (uniq $allLabels)) }}
    <button class="btn btn-primary btn-sm my-1" data-toggle="button" aria-pressed="false" autocomplete="off" data-tag-value="{{ . }}" data-operation="filter">
        {{ . }}
    </button>
{{ end }}

{{ range $item := $items }}
<div class="row my-4 all-cards">
    <div class="col-sm-12">
        {{ partial "single-card" $item }}
    </div>
</div>
{{ end }}

<script>
$("button[data-operation=filter]").click(function (){
    // show everything to begin with
    $('.card').parent().parent().removeClass("d-none");
    // add or remove active class to clicked button
    $(this).toggleClass("active");
    // get currently active buttons
    let activeFilters = $("button.active[data-operation=filter]").map(function() {return $(this).data("tag-value")}).get();
    // none? return already
    if(!activeFilters.length) return;
    // check all cards
    $(".card").each(function(){
        // get badges in one given card
        let badges = $(this).find("span.badge").map(function(){ return $(this).data("tag-value")}).get();
        // if the badges do NOT contain all specified filters, hide this one
        if(!activeFilters.every(function(val) { return badges.indexOf(val) >= 0; })){
            $(this).parent().parent().addClass("d-none");
        }
    })
})
</script>